@page
@model MyApp.Pages.Movies.DetailsModel
@{
}

<img src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Movie.PosterData))" alt="@Model.Movie.Name" />

<p>Name : @Model.Movie.Name</p>
<p>Year : @Model.Movie.Year</p>
<p>Score : @Model.Movie.Score</p>

<p>@Model.Movie.Description</p>

<a class="btn btn-primary" asp-page="/movies/index" role="button">Back to Movie List</a>