@page
@model MyApp.Pages.Movies.IndexModel
@{
}

<a class="btn btn-primary m-3" asp-page="/movies/create" role="button">Add New Movie</a>

<table class="table ">
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Score</th>
        <th>Watched</th>
        <th>Language</th>
        <th>Genre</th>
        <th></th>
    </tr>

    @foreach (var movie in Model.MovieList)
    {
        <tr>
            <td>@movie.Name</td>
            <td>@movie.Year</td>
            <td>@movie.Score</td>
            <td>@movie.IsWatched</td>
            <td>@movie.Language</td>
            <td>@movie.Genre.Name</td>
            <td>

                <a class="btn btn-info" asp-page="/movies/edit" asp-route-movieId="@movie.Id" role="button">Edit</a>
                <a class="btn btn-danger" asp-page="/movies/delete" asp-route-movieId="@movie.Id" role="button">Delete</a>
                <a class="btn btn-success" asp-page="/movies/details" asp-route-movieId="@movie.Id" role="button">Details</a>
                <a class="btn btn-success" asp-page="/movies/cast/index" asp-route-movieId="@movie.Id" role="button">Cast</a>
            </td>
        </tr>
    }

</table>